{% extends "base.html" %}
{% block page_title %}hierarXy{% endblock %}

{% block page_content %}
<div id="root">
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='arxlive-search.css')}}">
{{ super() }}
{% endblock %}

{% block scripts %}
<!-- This-->
  <script type="text/javascript" src="{{ url_for('static', filename='arxlive-search.js') }}"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{{ super() }}
{% endblock %}
