{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon-96x96.png') }}">
{% endblock head %}

{% block title %}arXlive{% endblock title %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('deepchange') }}">
                    <img alt="arXlive" src="{{ url_for('static', filename='arxlive-logo-20h.png') }}">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('deepchange') }}">DeepChange</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock navbar %}

{% block content %}{% endblock content %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='deepchange.css')}}">
{% endblock styles %}
